@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Arvo:700");
@import url("https://fonts.googleapis.com/css?family=Seaweed+Script");
@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


    /*background-image: url("https://images.unsplash.com/photo-1561835503-648c2f1169d2?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");*/
  
body {
  margin: 0;
  padding: 0;
  background-image: url("https://images.unsplash.com/photo-1608318473515-ac65ff4ab10d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  min-height: 100vh;
  overflow-x: hidden;
}



header {  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo {
    font-size: large;
    color: #c8bac1;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #f9bc60;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
    background: #f9bc60;
    color: #001e1d;
}




header ul li.dropdown {
  position: relative;
}

header .dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #f9f9f9; */
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 14px;
  border-width: 2px;

}

#header-Overfit{
  background-color: #f9f9f9;
  margin: 10px;

}

#header-Wear{
  margin: 10px;
  background-color: #f9f9f9;
}

#header-accessories{
  margin: 10px;
  background-color: #ffffff;
}

header .dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;

}

header .dropdown-content a:hover {
  background-color: #f1f1f1;
  
}

header ul li.dropdown:hover .dropdown-content {
  display: block;
  
}


section {
    margin-top: -434px;
    position:relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}


section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;

    background: linear-gradient(to top, #004643, transparent);
    z-index: 1000;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #f9bc60 ;
    color: #0f5a56;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

.sec {
    position: relative;
    padding: 100px;
    padding-bottom: 130px;
    background: #004643;
}

.sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #001e1d;
}

.sec p {
    font-size: 1em;
    color: #001e1d;
}
/*swipe-конец*/


footer {
    background-color: rgb(0, 0, 0);
        background: linear-gradient(to bottom, #004643, transparent);
  
    width: 100%;
    height: 200px;
    color: #e8e4e6;
    padding-bottom: 0px;
  }
  .gradient-text{
  background: linear-gradient(45deg, #FFFF00 33%, #FF1493 66%, #8B008B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  color: #9400D3;
  }
  
  .contact{
    padding-left: 200px;
    padding-right: 200px;
  
    color: #fff;
  }
  
  

  .button{
    background-color: white;
    margin-right: 100px;
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    /* background-color:#004643; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .form {
    width: 100%;
    max-width: 820px;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px #e16162;
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    } 
    
    .contact-form {
    position: relative;
    }
    
    .circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #f9bc60);
    position: absolute;
    }
    
    .circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
    }
    
    .circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
    }
    
    .contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #f9bc60;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
    }
    
    form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
    }
    
    .title {
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
    }
    
    .input-container {
    position: relative;
    margin: 1rem 0;
    }
    
    .input {
    width: 100%;
    outline: none;
    border: 2px solid #f9bc60;
    background: none;
    padding: 0.6rem 1.2rem;
    color:#f9bc60;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
    }
    
    textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
    }
    
    .input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
    }
    
    .input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
    }
    
    .btn {
    padding: 0.6rem 1.3rem;
    background-color: white;
    border: 2px solid white;
    font-size: 0.95rem;
    color:#ffffff;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
    }
    
    .btn:hover {
    background-color: transparent;
    color: rgb(255, 255, 255);
    }
    
    .input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
    }
    
    .input-container span:before,
    .input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #f9bc60; /*Плавно*/
    top: 50%;
    transform: translateY(-50%);
    }
    
    .input-container span:before {
    left: 50%;
    }
    
    .input-container span:after {
    right: 50%;
    }
    
    .input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
    }
    
    .input-container.focus span:before,
    .input-container.focus span:after {
    width: 50%;
    opacity: 1;
    }
    
    .contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
    }
    
    .contact-info .title {
    color: #fffffe;
    }
    
    .text {
    color: #abd1c6;;
    margin: 1.5rem 0 2rem 0;
    }
    
    /* Данные о ресторане  */
    .information {
    display: flex;
    color: #abd1c6;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
    }
    
    .icon {
    width: 28px;
    margin-right: 0.7rem;
    }
    
    .social-media {
    padding: 2rem 0 0 0;
    }
    